<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
    <link type="text/css" rel="stylesheet" href="../stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
    <link type="text/css" rel="stylesheet" href="../stylesheets/image.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome.min.css">
  </head>
  <body>
    <div class="menu">
      <div class="menu_list">
        <ul>
          <li><a href="bikeIndex">Home</a></li>
          <li class="active"><a href="">About</a></li>
          <li><a href="">History</a></li>
          <li><a href="">Mial Us</a></li>
        </ul>
      </div>
    </div>
    <div class="body">
      <div class="contain">
        <div class="header">
          <h1><a href="">Bike</a><span>WORLD</span></h1>
          <div class="nav_login"><span class="stick stick-1"></span><span class="stick stick-2"></span><span class="stick stick-3"></span></div>
        </div>
      </div>
    </div>
    <div class="con">
      <div class="contain">
        <h1>WHO WE ARE</h1>
      </div>
    </div>
    <div class="con">
      <div class="contain">
        <h1>OUR TEAM</h1>
        <div class="box">
          <div class="bg">
            <div class="circle">
              <div class="img"><img src="../images/t2.jpg" alt="">
                <div class="icon">
                  <h3>DAVID WATSON</h3>
                  <div class="icons"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-github"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg">
            <div class="circle">
              <div class="img"><img src="../images/t3.jpg" alt="">
                <div class="icon">
                  <h3>DAVID WATSON</h3>
                  <div class="icons"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-github"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg">
            <div class="circle">
              <div class="img"><img src="../images/t3.jpg" alt="">
                <div class="icon">
                  <h3>DAVID WATSON</h3>
                  <div class="icons"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-github"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/common.js"></script>
  </body>
</html>