<!DOCTYPE html>
<html>
  <head>
    <title>BIKE CLUB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/htm">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../fonts/font-awesome.min.css">
  </head>
  <body>
    <div class="menu">
      <div class="menu_list">
        <ul>
          <li class="active"><a href="">Home</a></li>
          <li><a href=""> About</a></li>
          <li><a href=""> History</a></li>
          <li><a href=""> Mail Us</a></li>
        </ul>
      </div>
    </div>
    <div class="body">
      <div class="contain">
        <div class="header">
          <h1><a href="">Bike</a><span>WORLD</span></h1>
          <div class="nav_login"><span class="stick stick-1"></span><span class="stick stick-2"></span><span class="stick stick-3"></span></div>
        </div>
        <div class="content">
          <h1>BIKe</h1>
          <div class="banner">
            <ul class="wordList">
              <li class="onWord">
                <p>PROIN CONVALLIS LEO VITAE LIGULA PORTTITOR</p>
              </li>
              <li>
                <p>VIVAMUS UT ERAT SIT AMET ELIT MOLLIS ALIQUAM</p>
              </li>
              <li>
                <p>PROIN CONVALLIS LEO VITAE LIGULA PORTTITOR</p>
              </li>
              <li>
                <p>VIVAMUS UT ERAT SIT AMET ELIT MOLLIS ALIQUAM</p>
              </li>
              <li>
                <p>PROIN CONVALLIS LEO VITAE LIGULA PORTTITOR</p>
              </li>
              <li>
                <p>VIVAMUS UT ERAT SIT AMET ELIT MOLLIS ALIQUAM</p>
              </li>
            </ul>
          </div>
          <div class="more"><a href="">More</a></div>
          <div class="icon"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-rss"></i><i class="fa fa-vk"></i></div>
        </div>
      </div>
    </div>
    <div class="con">
      <div class="contain">
        <h1>OUR SERVICES</h1>
        <div class="thoumbs">
          <div class="img"><i class="fa fa-male"></i></div>
          <h3>Praesent Tempor Purus</h3>
          <p>Donec non nibh in dui sagittis finibus. Duis suscipit, arcu vel rhoncus molestie, ipsum velit mattis nibh, id congue lacus lorem a elit.</p>
        </div>
        <div class="thoumbs">
          <div class="img"><i class="fa fa-bicycle"></i></div>
          <h3>Praesent Tempor Purus</h3>
          <p>Donec non nibh in dui sagittis finibus. Duis suscipit, arcu vel rhoncus molestie, ipsum velit mattis nibh, id congue lacus lorem a elit.</p>
        </div>
        <div class="thoumbs">
          <div class="img"><i class="fa fa-cog"></i></div>
          <h3>Praesent Tempor Purus</h3>
          <p>Donec non nibh in dui sagittis finibus. Duis suscipit, arcu vel rhoncus molestie, ipsum velit mattis nibh, id congue lacus lorem a elit.</p>
        </div>
        <div class="thoumbs">
          <div class="img"><i class="fa fa-female"></i></div>
          <h3>Praesent Tempor Purus</h3>
          <p>Donec non nibh in dui sagittis finibus. Duis suscipit, arcu vel rhoncus molestie, ipsum velit mattis nibh, id congue lacus lorem a elit.</p>
        </div>
      </div>
    </div>
    <div class="callback">
      <div class="contain">
        <div class="callback_content">
          <h1>WE ARE COMMITTED TO DEVELOP THE SPORT OF TRIATHLON</h1>
          <p>Donec viverra enim nunc, sit amet ultricies dolor placerat vestibulum. Donec id dapibus dolor. Praesent elementum ipsum fringilla ullamcorper facilisis. Morbi blandit tortor molestie ex dignissim, vitae blandit metus ullamcorper. Praesent eleifend risus quam, et aliquet eros tristique a. Duis rhoncus auctor urna, id tristique quam gravida in.</p>
          <div class="word"><a href="">Read More</a></div>
        </div>
      </div>
    </div>
    <div class="con">
      <div class="contain">
        <h1>RECENT RIDES</h1>
        <div class="picture">
          <div class="image"><img src="../images/r1.jpg" alt=""></div>
          <h3>Nullam Tristique Faucibus</h3>
          <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.</p>
        </div>
        <div class="picture">
          <div class="image"><img src="../images/r2.jpg" alt=""></div>
          <h3>Nullam Tristique Faucibus</h3>
          <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.</p>
        </div>
        <div class="picture">
          <div class="image"><img src="../images/r3.jpg" alt=""></div>
          <h3>Nullam Tristique Faucibus</h3>
          <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.</p>
        </div>
        <div class="picture">
          <div class="image"><img src="../images/r4.jpg" alt=""></div>
          <h3>Curabitur Non Blandit Justo</h3>
          <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.</p>
        </div>
        <div class="picture">
          <div class="image"><img src="../images/r5.jpg" alt=""></div>
          <h3>Ut Ultricies, Dui A Tincidunt</h3>
          <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.</p>
        </div>
        <div class="picture">
          <div class="image"><img src="../images/r6.jpg" alt=""></div>
          <h3>Curabitur Non Blandit Justo</h3>
          <p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat</p>
        </div>
      </div>
    </div>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/index.js"></script>
  </body>
</html>