doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Type" , content="text/html")
        title DC BIKE
        link(rel="shortcut icon", href="../images/bitbug_favicon.ico", type="image/x-icon")
        link(rel="stylesheet" , type="text/css" , href="../stylesheets/reset.css")
        link(type="text/css", rel="stylesheet" , href="../stylesheets/common.css")
        link(rel="stylesheet" , type="text/css" , href="../stylesheets/history.css")
        link( rel="stylesheet", href="../fonts/font-awesome.min.css")
    body
        span#top
            i(class="fa fa-arrow-up")
            span 回到顶部
        .menu
            .menu_list
                ul
                    li
                        a(href="bikeIndex") Home
                    li
                        a(href="about") About
                    li(class="active")
                        a(href="#") History
                    li
                        a(href="mail") Mail Us
        .body
            .contain
                .header
                    h1
                        a(href="bikeIndex") Bike
                        span WORLD

                    .nav_login
                        span(class="stick stick-1")
                        span(class="stick stick-2")
                        span(class="stick stick-3")
        .wrapper
            .contain
                h1 OUR HISTORY
                each val,index in image
                    if(val.type == "2")
                        .wrapper_img
                            .img.sm(v-bind:title="message")
                                img(src=val.image, alt="")/
                                .search
                                    img(src="../images/search.png")/
                    else if(val.type == "3")
                        .wrapper_img
                            .img.bg(v-bind:title="message")
                                img(src=val.image, alt="")/
                                .search
                                    img(src="../images/search.png")/
        script(src="../javascripts/jquery-3.3.1.min.js")
        script(src="../javascripts/common.js")
        script(src="../javascripts/vue.min.js")
        script(src="../javascripts/history.js")

