<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="keywords" content="vincent cibelli, vincidev, javascript, jquery, slideshow">
    <meta name="author" content="Vincent CIBELLI">
    <title>Mail Us</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
    <link type="text/css" rel="stylesheet" href="../stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/mail.css">
    <link rel="stylesheet" href="../fonts/font-awesome.min.css">
  </head>
  <body><span id="top"><i class="fa fa-arrow-up"></i><span>回到顶部</span></span>
    <div class="menu">
      <div class="menu_list">
        <ul>
          <li><a href="bikeIndex">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="bikeHistory">History</a></li>
          <li class="active"><a href="#">Mail Us</a></li>
        </ul>
      </div>
    </div>
    <div class="body">
      <div class="contain">
        <div class="header">
          <h1><a href="bikeIndex">Bike</a><span>WORLD</span></h1>
          <div class="nav_login"><span class="stick stick-1"></span><span class="stick stick-2"></span><span class="stick stick-3"></span></div>
        </div>
      </div>
    </div>
    <div class="mail">
      <div class="contain">
        <div class="mail_left">
          <h3>GET IN TOUCH</h3>
          <p>Pellentesque eget mi nec est tincidunt accumsan. Proin fermentum dignissim justo, vel euismod justo sodales vel. In non condimentum mauris. Maecenas condimentum interdum lacus, ac varius nisl dignissim ac. Vestibulum euismod est risus, quis convallis nisi tincidunt eget. Sed ultricies congue lacus at fringilla.Pellentesque eget mi nec est tincidunt accumsan.</p>
          <ul class="mail_icon">
            <li><i class="fa fa-phone"></i><span class="mail_word">+1 234 567 8901</span></li>
            <li><i class="fa fa-envelope"></i><span class="mail_word">mail@example.com</span></li>
            <li><i class="fa fa-map-marker"></i><span class="mail_word">Eiusmod Tempor inclore Place,Kingsport 56777</span></li>
          </ul>
        </div>
        <div class="mail_right">
          <h3>SEND US A MESSAGE</h3>
          <form action="">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Phone">
            <textarea class="message" placeholder="Message"></textarea>
            <input class="sub" type="submit" value="Submit">
          </form>
        </div>
        <h3> know about us</h3>
      </div>
    </div>
    <div id="zoom"></div>
    <div id="wrapper">
      <div id="content">
        <div id="view"><img src="../images/r1.jpg" alt="bike"></div>
        <div id="thumbs">
          <div id="nav-left-thumbs"><</div>
          <div id="pics-thumbs"><img src="../images/r1.jpg" alt="bike"><img src="../images/r2.jpg" alt="bike"><img src="../images/r3.jpg" alt="bike"><img src="../images/r4.jpg" alt="bike"><img src="../images/r5.jpg" alt="bike"><img src="../images/r6.jpg" alt="bike"><img src="../images/r1.jpg" alt="bike"><img src="../images/r2.jpg" alt="bike"><img src="../images/r3.jpg" alt="bike"><img src="../images/r4.jpg" alt="bike"></div>
          <div id="nav-right-thumbs">></div>
        </div>
      </div>
    </div>
    <h3>We are waiting for you here!</h3>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/common.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="../javascripts/prefixfree.min.js"></script>
    <script src="../javascripts/zoom-slideshow.js"></script>
  </body>
</html>