.wrapper {
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

 .wrapper_img .img {
     position: relative;
     float: left;
     margin: 0 1% 10px 0;

 }
 .wrapper_img .fl{
     margin-right: 0;
 }
 .wrapper_img .bg{
     width: 38.4%;
 }
 .wrapper_img .sm{
     width: 19.2%;
 }
 .wrapper_img .img>img{
    max-width: 100%;
 }
 .search{
     position: absolute;
     top:10%;
     right: 10%;
     width: 80%;
     height: 80%;
     z-index:99;
     display: none;
     background: rgba(25,25,0,0.3);
     border-radius: 5px;
 }
.bg .search>img{
     width: 8%;
     margin:22%;
 }
.sm .search>img{
    margin: 40%;
    width: 14%;
}
.img:hover .search{
    display: block;

}
@media (max-width: 500px) {
    .search{
        height: 70%;
    }

}
@media (max-width:768px ) {
    .wrapper h1{
        font-size: 1.4rem;
        margin: 1rem auto;
    }
}


